* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 95px;               
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;    
  z-index: 20;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img{
  transform: scale(1.3);
  transform-origin: left center;
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-actions {
  display: flex;
  gap: 15px;
}

.btn-outline {
  padding: 8px 18px;
  border: 1px solid teal;
  border-radius: 20px;
  text-decoration: none;
  color: teal;
}

.btn-primary {
  padding: 8px 18px;
  background-color: teal;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}


.hero {
  height: 100vh;
  margin-top: 95px; 
  background-image: url("/room img.jpg");
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  background: rgba(255, 255, 255, 0.75);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  color: #555;
}
