* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 95px;               
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;    
  z-index: 20;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img{
  transform: scale(1.3);
  transform-origin: left center;
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-actions {
  display: flex;
  gap: 15px;
}

.btn-outline {
  padding: 8px 18px;
  border: 1px solid teal;
  border-radius: 20px;
  text-decoration: none;
  color: teal;
}

.btn-primary {
  padding: 8px 18px;
  background-color: teal;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}


.hero {
  height: 100vh;
  margin-top: 95px; 
  background-image: url("/room img.jpg");
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  background: rgba(255, 255, 255, 0.75);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  color: #555;
}


.login-container {
  min-height: 100vh;
  display: flex;
  background-color: #eeeeee;
}


.login-left {
  position: relative;
  flex: 1.2;      
  height: 100vh;    
  padding: 0;      
}


.login-right {
  flex: 1;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #003b3b;
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  font-size: 14px;
  color: #555;
}

.login-form input {
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  outline: none;
}

.login-form button {
  margin-top: 20px;
  padding: 12px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.signup-text a {
  color: teal;
  text-decoration: none;
  font-weight: 500;
}

.login-illustration {
  object-fit: contain;   
  transform: scale(1.15); 
}

.login-logo {
  position: absolute;
  top: 40px;
  left: 60px;
  z-index: 10;
}
